<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Employee Details</h1>
<form action="viewdetails/" method="get">
    {% csrf_token %}
<table border="2" align="center">
    <tr>
        <td>Adds</td>
        <td>Age</td>
        <td>ContactNo</td>
        <td>Date-Of-Birth</td>

        <td>Email</td>
        <td>Name</td>
        <td>Id No</td>
    </tr>
    {% for x,y in emp.items %}
    <tr>
    <td>{{ x }}</td>
        {% for i in y.values %}
            <td>{{ i }}</td>
        {% endfor %}

    </tr>
{% endfor %}
</table>
</form>
</body>
</html>