<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
       <table border="3" align="center" bgcolor="red">
           <h1 align="center">collection</h1>
           <hr/>
           <tr>
               <td>list</td>
            </tr>
           <tr>
               <td>
                   tuple
               </td>
            </tr>
           <tr>
               <td>
                   dictionary
               </td>
            </tr>
           <tr>
               <td>
                   string
               </td>
            </tr>
       </table>

</body>
</html>