<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
  <h1 align="center">Employee Details</h1>
  <hr/>
  <table border="4" align="center" bgcolor="#8b0000" >
      <tr>
          <td>IDNO</td>
          <td>NAME</td>
          <td>SALARY</td>
      </tr>
       {% for x,y in emp.items %}
           <tr>
            <td>{{ x }}</td>
           {% for i in y.values %}
               <td>{{ i }}</td>
               {% endfor %}
           </tr>
       {% endfor %}
  </table>

</body>
</html>