<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="1">
    <tr>
        <th colspan="4">Account Opening Details</th>
    </tr>
    <tr>
        <td>Name</td>
        <td>Contact No</td>
        <td>Email</td>
        <td>Address</td>
    </tr>
    {% for x in msg %}
        <Tr>
        <td>{{ x.name }}</td>
        <td>{{ x.cno }}</td>
        <td>{{ x.email }}</td>
        <td>{{ x.address }}</td>
        </Tr>
    {% endfor %}
<tr>
    <form action="/accountcsvfile/" method="post">
    <td colspan="4" align="center">
        {% csrf_token %}
        <input type="submit" value="Download" >
    </td>
    </form>
</tr>
</table>

</body>
</html>