<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load staticfiles %}
<font color="#fff8dc">
    <marquee direction="left"> Prasad Technologies</marquee>
    <marquee direction="right"> Prasad Technologies</marquee>

</font>
<table align="center" border="0">
    <tr>
        <td>
            <img src="{% static 'images.jpg'%}" width="200" height="200">
            <img src="{% static 'images (1).jpg'%}" width="200" height="200">
            <img src="{% static 'images (2).jpg'%}" width="200" height="200">
            <img src="{% static 'images (3).jpg'%}" width="200" height="200">
            <img src="{% static 'images.jpg'%}" width="200" height="200">
            <img src="{% static 'download (2).jpg'%}" width="200" height="200">
        </td>
    </tr>

</table>
</body>
</html>