<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center">
    <tr>

    <td><a href="/register/" target="body">Student_Register</a></td>
    <td><a href="/student_login/" target="body">Student_Login</a></td>
    <td><a href="/register/" target="body">Student_Details</a></td>
    <td><a href="/faculity_register/" target="body">Faculity_Register</a></td>
   <td> <a href="/faculity_login" target="body">Faculity_Login</a></td>
   <td> <a href="/faculity_register/" target="body">Faculity_Details</a></td>
    </tr>

</table>
</body>
</html>