<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/registration/" method="post">
    {% csrf_token %}
<table align="center" border="2">
    <tr>
        <th>
            Registration
        </th>
    </tr>
    <tr>
        <td>
            <input type="number"  placeholder="Idno"  value="{{ key }}" required name="idno" readonly>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" placeholder="name"  value="{{ name }}" required name="name">
        </td>
    </tr>
    <tr>
        <td>
            <input type="number" placeholder="contact no" value="{{ cno }}" required name="cno">
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="save">
        </td>
    </tr>
    <tr>
        <th align="center">
            {{ message }}
        </th>
    </tr>
</table>
    </form>

</body>
</html>