<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="center">
    <tr>
        <th colspan="3">Course details</th>
    </tr>
    <tr>
        <td>Python</td>
        <td>Duration 45 Days</td>
        <td>Fee  Nofee</td>
    </tr>
    <tr>
        <td> Adv Python</td>
        <td>Duration 45 Days</td>
        <td>Fee  3000</td>
    </tr>
    <tr>
        <td>Django</td>
        <td>Duration 45 Days</td>
        <td>Fee  2500</td>
    </tr>
    <tr>
        <td>C language</td>
        <td>Duration 30 Days</td>
        <td>Fee  1000</td>
    </tr>
<tr>
        <td>Java</td>
        <td>Duration 90 Days</td>
        <td>Fee  7000</td>
    </tr><tr>
        <td>Data Science</td>
        <td>Duration 90 Days</td>
        <td>Fee 15000</td>
    </tr>
    <tr>
        <td>Bigdata</td>
        <td>Duration 120 Days</td>
        <td>Fee  7500</td>
    </tr>
    <tr>
        <td>UI Technologies </td>
        <td>Duration 30 Days</td>
        <td>Fee  1000</td>
    </tr>
</table>
</body>
</html>